<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xianhang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XianHang"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".product.ProductManageActivity"
            android:exported="false" />
        <activity
            android:name=".product.SellActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".order.ViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".order.ViewOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".home.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".home.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>